body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e0e0e0;
  background-color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header */
nav .container-fluid {
  background-image: linear-gradient(to bottom, #060606, #202020);
  padding-top: 1rem;
  padding-inline: 3rem;
  height: 2rem;
  display: flex;
}

.navbar-brand {
  margin-left: 1.2rem;
  height: 100%;
  display: flex;
}

.top-logo {
  height: 100%;
  object-fit: cover;
}

.navbar-toggler {
  background-color: rgba(0, 0, 0, 0);
  color: #e0e0e0;
  border: none;
}

/* .search-btn.dropdown-toggle.btn {
  border: none;
  font-size: 15px;
  background: none;
} */

/* .dropdown-item {
  font-size: 0.7rem;
  padding: 0.5rem;
  min-height: 0.4rem;
}

.dropleft .search-btn::before {
  display: none;
} */

/* #navbarSupportedContent ul {
  text-align: center;
  position: absolute;
  z-index: 3;
  width: 40rem;
}

@media screen and (max-width: 992px) {
  #navbarSupportedContent ul {
    background-color: rgba(0, 0, 0, 0.739);
    width: 10rem;
  }
} */

/* .container-fluid .nav-link {
  color: #e0e0e0;
  font-size: 0.8rem;
}

.nav-item.active .nav-link {
  font-weight: bold;
}

.bell-symbol {
  font-size: 1.4rem;
}

.account-symbol {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
}

.account-symbol img {
  height: 100%;
}

.info-top {
  padding-inline: 15px;
  height: 3rem;
  position: sticky;
  top: 0;
}

.dropdown .btn {
  color: var(--clr-grey);
  background-color: black;
  border: 1px solid var(--clr-grey);
  border-radius: 0;
  word-spacing: 1.8rem;
  font-size: 0.7rem;
  padding-top: 3px;
  padding-bottom: 3px;
}

.dropleft .btn {
  color: var(--clr-grey);
  background-color: black;
}

.dropdown .btn:hover {
  background-color: #505050;
}

.top-icons {
  height: 100%;
  font-size: 1.5rem;
}

.top-icons i,
.top-icons svg {
  border: 1px solid var(--clr-grey);
  height: 3rem;
  width: 3rem;
  padding: 10px;
} */

.d-flex.container {
  display: flex;
  flex-direction: column;

  /* width: max-content; */
}

.d-flex.container .row {
  display: flex;
  overflow: hidden;
  /* width: 100%; */
  flex-wrap: wrap;
  margin: 20px 5%;
}
.d-flex.container .col {
  width: 33%;
}

@media (min-width: 670px) {
  .d-flex.container .col {
    width: 25%;
  }
}

@media (min-width: 870px) {
  .d-flex.container .col {
    width: 20%;
  }
}

@media (min-width: 1150px) {
  .d-flex.container .col {
    width: 16%;
  }
}

@media (min-width: 1300px) {
  .d-flex.container .col {
    width: 14%;
  }
}

.card-img-top {
  width: 100%;
  height: 15rem;
}
